[Unit]
Description=IP address handler
After=opx-create-interface.service
DefaultDependencies=no

[Service]
EnvironmentFile=/etc/opx/opx-environment
ExecStart=/usr/bin/base_ip

# Resource Limitations
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
