Unit]
Description=OpenSwitch Platform NAS Shell support
After=opx-nas.service
Wants=opx-nas.service
DefaultDependencies=no

[Service]
EnvirionmentFile=/etc/opx/opx-environment
ExecStart=/usr/bin/base-nas-shell.sh

# Resource Limitations
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
