Source: opx-nas-linux
Section: net
Priority: optional
Maintainer: Dell EMC <ops-dev@lists.openswitch.net>
Build-Depends: debhelper (>= 9),dh-autoreconf,dh-systemd,autotools-dev,libopx-common-dev,libopx-nas-common-dev,libopx-cps-dev,libopx-logging-dev
Standards-Version: 3.9.3
Vcs-Browser: https://github.com/open-switch/opx-nas-linux
Vcs-Git: https://github.com/open-switch/opx-nas-linux.git

Package: libopx-nas-linux1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},libopx-nas-common1,libopx-common1,libopx-cps1,libopx-logging1
Description: This package contains the Linux integration portion of the Network abstractions service.

Package: libopx-nas-linux-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},libopx-common-dev,libopx-cps-dev,libopx-logging-dev,libopx-nas-common-dev,libopx-base-model-dev,libopx-nas-linux1 (=${binary:Version})
Description: This package contains the Linux integration portion of the Network abstractions service.

Package: opx-nas-linux
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends},opx-cps,python-opx-cps, opx-nas-interface
Description: This package contains the Linux integration portion of the Network abstractions service.
