Source: opx-nas-linux
Section: net
Priority: optional
Maintainer: Dell EMC <ops-dev@lists.openswitch.net>
Build-Depends: debhelper (>= 9),dh-autoreconf,dh-systemd,autotools-dev,libopx-common-dev (>= 1.4.0),libopx-nas-common-dev (>= 6.1.0),
            libopx-cps-dev (>= 3.6.2),libopx-base-model-dev (>= 3.109.0),libopx-logging-dev (>= 2.1.0)
Standards-Version: 3.9.3
Vcs-Browser: https://github.com/open-switch/opx-nas-linux
Vcs-Git: https://github.com/open-switch/opx-nas-linux.git

Package: libopx-nas-linux1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},libopx-nas-common1 (>= 6.1.0),libopx-common1 (>= 1.4.0),libopx-cps1 (>= 3.6.2),
        libopx-logging1 (>= 2.1.0)
Description: This package contains the Linux integration portion of the Network abstractions service.

Package: libopx-nas-linux-dev
Architecture: any
Depends: ${misc:Depends},libopx-common-dev (>= 1.4.0),libopx-cps-dev (>= 3.6.2),libopx-logging-dev (>= 2.1.0),
        libopx-nas-common-dev (>= 6.1.0),libopx-base-model-dev (>= 3.109.0),libopx-nas-linux1 (=${binary:Version})
Description: This package contains the Linux integration portion of the Network abstractions service.

Package: opx-nas-linux
Architecture: any
Depends: ${misc:Depends},opx-cps (>= 3.6.2),python-opx-cps (>= 3.6.2)
Description: This package contains the Linux integration portion of the Network abstractions service.
